.staff {
    padding: 60px 0 70px 0;

    .cards {
        display: flex;

        .card {
            width: 300px;
            margin-right: 20px;

            .card-img {
                width: 100%;
                height: 135px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .card-head {
                display: flex;
                justify-content: space-between;
                position: relative;
                margin-bottom: 20px;

                h3 {

                    span {
                        margin-top: 7px;
                        font-size: 16px;
                        color: $grey;
                    }
                }

                p {
                    font-family: 'Bebas';
                    position: relative;
                    top: 5px;
                    font-size: 17px;
                }
            }

            .card-body {
                padding: 17px 15px 25px 15px;
                border: 1px solid #f8f8f8;
                border-top: none;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}