@media screen and (max-width: 961px) {

    .project-cards {

        .card {

            .card-head {

                .icon {
                    margin-right: 20px;

                    img {
                        height: auto;
                        object-fit: contain;
                        max-width: 38px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {

    .featured-works {
        padding: 25px 0 50px 0;

        .works-slider {

            .slides {
                height: 323px;

                .slide-picture {

                    .slider-arrow {
                        display: none;
                    }

                    .title {

                        h1 {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }

    .project-cards {
        flex-direction: column;
        align-items: center;

        .card {
            margin: 0 0 60px 0;
            text-align: center;
            padding: 0;
            width: auto;
            max-width: 300px;

            .card-head {
                flex-direction: column;

                 .icon {
                    margin: 0 0 20px 0;
                    position: static;

                    img {
                        position: static;
                        max-width: 45px;
                    }
                 }

                 h3 {
                     font-size: 22px;
                 }
            }

            .card-body {
                margin-bottom: 30px;
            }

            .card-link {
                justify-content: center;
                font-size: 15px;

                .arrow-icon {
                    margin-right: 5px;
                }
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    .latest-work {
        padding-bottom: 50px;

        .work-head {
            background: none;
            margin-bottom: 50px;

            h3 {
                background: none;
                font-size: 28px;
            }
        }

        .work-cards {
            flex-direction: column;
            align-items: center;

            .card {
                margin: 0 0 50px 0;
                text-align: center;
                width: auto;
                max-width: 220px;

                .card-link {
                    justify-content: center;
                    font-size: 15px !important;
    
                    .arrow-icon {
                        margin-right: 5px !important; 
                    }
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 481px) {
    
    .featured-works {

        .works-slider {

            .slides {
                height: 230px;

                .slide-picture {

                    .title {
                        display: none;
                    }
                }
            }

            .slider-indicators {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media screen and (max-width: 321px) {

    .featured-works {

        .works-slider {

            .slide-picture {
                height: 180px;
            }
        }
    }
}