@media screen and (max-width: 961px) {
    header {

        nav {

            .navigation {

                .nav-item {
                    margin-right: 30px;
                }
            }
        }
    }

    .project-cards {

        .card {

            .card-head {

                .icon {
                    margin-right: 20px;

                    img {
                        height: auto;
                        object-fit: contain;
                        max-width: 38px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {

    header {

        nav {
            padding-top: 20px;
            position: static;

            .logo {
                font-size: 38px;
            }

            .navigation {
                position: absolute;
                height: 100vh;
                width: 50vw;
                left: 0;
                top: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $darkgrey;
                z-index: 99999;
                transform: translateX(-100%);
                transition: all 0.3s;

                .nav-item {
                    margin: 0 0 20px 0;
                    color: $white;

                    .nav-item-desc {
                        display: none;
                    }

                    .nav-item-head {
                        font-size: 20px
                    }

                    &:last-child {
                        margin: 0;
                    }
                }

                .current {

                    .arrow {
                        display: none;
                    }

                    .nav-item-head {
                        font-size: 20px;
                        color: $grey;
                    }
                }
            }

            .show {
                transform: translateX(0%);
                position: fixed;
            }

            .hamburger {
                display: block;
            }

            .opened {
                
                .line2 {
                    height: 0;
                    margin: 0;
                }

                .line1 {
                    transform: rotate(45deg);
                    position: absolute;
                }
                .line3 {
                    transform: rotate(-45deg);
                    position: absolute;
                }
            }

            .active {
                transform: translateX(0%);
            }
        }
    }

    .featured-works {
        padding: 25px 0 50px 0;

        .works-slider {

            .slides {
                height: 323px;

                .slide-picture {

                    .slider-arrow {
                        display: none;
                    }

                    .title {

                        h1 {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }

    .project-cards {
        flex-direction: column;
        align-items: center;

        .card {
            margin: 0 0 60px 0;
            text-align: center;
            padding: 0;
            width: auto;
            max-width: 300px;

            .card-head {
                flex-direction: column;

                 .icon {
                    margin: 0 0 20px 0;
                    position: static;

                    img {
                        position: static;
                        max-width: 45px;
                    }
                 }

                 h3 {
                     font-size: 22px;
                 }
            }

            .card-body {
                margin-bottom: 30px;
            }

            .card-link {
                justify-content: center;
                font-size: 15px;

                .arrow-icon {
                    margin-right: 5px;
                }
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    .latest-work {
        padding-bottom: 50px;

        .work-head {
            background: none;
            margin-bottom: 50px;

            h3 {
                background: none;
                font-size: 28px;
            }
        }

        .work-cards {
            flex-direction: column;
            align-items: center;

            .card {
                margin: 0 0 50px 0;
                text-align: center;
                width: auto;
                max-width: 220px;

                .card-link {
                    justify-content: center;
                    font-size: 15px !important;
    
                    .arrow-icon {
                        margin-right: 5px !important; 
                    }
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    footer {

        .footer {
            flex-direction: column;
            padding: 35px 10px;
            text-align: center;

            p {
                margin: 0 auto 10px auto;
                line-height: normal;

                &:last-child {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 481px) {
    
    .featured-works {

        .works-slider {

            .slides {
                height: 230px;

                .slide-picture {

                    .title {
                        display: none;
                    }
                }
            }

            .slider-indicators {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    footer {

        .footer {
            p,span,a {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 321px) {

    .featured-works {

        .works-slider {

            .slide-picture {
                height: 180px;
            }
        }
    }
}