@media screen and (max-width: 961px) {

    main {
        grid-template-columns: 1fr;
        justify-content: center;

        .content {
            margin: 0 auto;
        }
    }

    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 769px) {

    main {

        .content {
            padding-right: 0;

            .about {
                padding-top: 50px;
            }

            .projects {
                padding-bottom: 50px;

                .projects-types {
                    justify-content: center;
                }

                .work {
                    flex-direction: column;

                    .column {
                        margin: 0 auto;

                        .item {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}