//basic settings
@import '../../settings';
@import '../../ui';

//navbar styles
@import '../common_blocks/navbar';

//about styles
@import '../common_blocks/explain';

//posts section styles
@import './blocks/posts';

//sidebar styles
@import '../common_blocks/sidebar';

//footer styles
@import '../common_blocks/footer';

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px;

    .content {
        max-width: 660px;
        padding-right: 40px;
    }
}

//mediaqueries
@import '../../mediaqueries';
@import './mediaqueries';