.about {
    padding-top: 70px;

    h1 {
        padding: 0 0 15px 0;
    }
    p {
        font-family: 'Roboto';
        font-style: italic;
        line-height: 1.6;
        color: $grey;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .border-bottom {
        height: 5px;
        width: 100%;
        background: url('../../../../images/Common/bb.png');
    }
}