header {

    nav {
       display: flex;
       justify-content: space-between;
       align-items: center;
       position: relative;
       padding-top: 40px;

       .logo {
           font-size: 42px;
           position: relative;
           font-family: 'Pacifico';
           margin: 0;
           padding: 0;
           cursor: pointer;
           bottom: 6px;
       }

       .hamburger {
           display: none;
           position: relative;
           cursor: pointer;

           span {
               display: block;
               width: 20px;
               height: 3px;
               background-color: $black;
               margin-bottom: 2px;
               position: relative;
               transition: all 0.3s;

               &:last-child {
                   margin-bottom: 0;
               }
           }
       }

       .navigation {
           display: flex;
           align-items: flex-end;
           padding: 0;
           
           .nav-item {
               display: block;
               padding: 0;
               margin: 0 55px 0 0;
               text-align: center;
               position: relative;

                .arrow {
                    width: 0; 
                    height: 0;
                    border-top: 9px solid #ececec;
                    border-left: 7px solid transparent; 
                    border-right: 7px solid transparent;
                    position: absolute;
                    top: -40px;
                    left: 50%;
                    margin-left: -7px;
                    display: none;
                }

                p {
                    text-align: left;
                }

                .nav-item-desc {
                    color: $lightgrey;
                    font-family: 'Bebas';
                    margin: 0;
                    padding: 0 0 3px 0;
                    font-weight: 300;
                    font-size: 17px;
                    letter-spacing: normal;
                }
                .nav-item-head {
                    font-size: 24px;
                    font-family: 'Bebas';
                    margin: 0;
                    padding: 0;
                    letter-spacing: normal;
                }

                &:last-child {
                    margin: 0;
                }
           }

           .current {
                .arrow {
                    display: block;
                }
            }
       }
    }
}