.sidebar {
    padding-top: 95px;

    .title {
        font-family: 'Bebas';
        font-size: 17px;
        padding-bottom: 15px;
    }

    .border-bottom {
        height: 6px;
        width: 100%;
        background: url('../../../../images/Common/bb.png');
        margin-bottom: 20px;
    }

    .overview {
        padding-top: 44px;
    }

    .categories {
        padding-top: 30px;

        ul {

            li {
                list-style: none;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;

                a {

                    span {
                        font-weight: 500;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .twitter {
        padding-top: 30px;

        .tweets {

            .tweet {
                margin-bottom: 25px;

                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    color: #999999;
                }

                p {
                    font-size: 15px;
                    line-height: 1.3;
                    margin-bottom: 10px;

                    a {
                        font-weight: 300;
                        color: $lightgrey;
                    }
                }
            }

            p {
                a {
                    font-weight: 300;
                    color: $lightgrey;
                }
            }
        }  
    }
}