.project-cards {
    display: flex;
    padding: 0 0 70px 0;

    .card {
        width: 300px;
        margin-right: 20px;
        padding-right: 10px;

        .card-head {
            margin-bottom: 30px;
            display: flex;

            .icon {
                display: block;
                position: relative;
                margin-right: 30px;

                img {
                    object-fit: none;
                    position: relative;
                    top: 1px;
                    left: 6px;
                }
            }



            h3 {
                font-size: 25px;
                font-weight: 600;
            }
        }

        .card-body {
            margin-bottom: 40px;
            line-height: normal;
        }

        .card-link {
            font-family: 'Bebas';
            font-size: 17px;
            display: flex;
            align-items: center;

            .arrow-icon {
                width: 17px;
                height: 9px;
                display: block;
                background: url('../../../../images/Home/more-icon.png') no-repeat center;
                margin-right: 10px;
            }

            &:hover {
                .arrow-icon {
                    transition: all 0.15s;
                    transform: translateX(3px);
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}