@media screen and (max-width: 961px) {

    main {
        grid-template-columns: 1fr;
        justify-content: center;

        .content {
            margin: 0 auto;
        }
    }

    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 769px) {

    main {

        .content {
            padding-right: 0;

            .about {
                padding-top: 50px;
            }

            .form {
                align-items: center;
                padding: 70px 0;

                input,textarea {
                    max-width: initial;
                    width: 100%;
                }

                .submit {
                    align-self: flex-start;
                }

                .validate-err,.validate-pass {
                    align-self: flex-start;
                }
            }
        }
    }
}