@media screen and (max-width: 769px) {

    .about {
        padding-top: 50px;
    }

    .principles {

        .cards {
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .card {
                margin: 0 0 50px 0;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .staff {

        .cards {
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .card {
                margin: 0 0 50px 0;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

